## ML Model Deployment Tutorial

This code is intended to be the tutorial deployment for ML Model. As for this trial, we will utilise MLFlow and also Seldon Core for that matter. The model itself will be firstly quite simple, using Scikit-Learn and later on, we will try adding more complex model using either Tensorflow (TF) or PyTorch

In [1]:
import os
import warnings
import sys

In [2]:
#importing the pandas and numpy for the operations within the dataset

import pandas as pd
import numpy as np

In [3]:
# importing MLFlow

import mlflow
import mlflow.sklearn

In [4]:
import matplotlib.pyplot as plt
from itertools import cycle

In [5]:
from sklearn import datasets
from sklearn.linear_model import lasso_path, enet_path
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import mlutil

In [6]:
#Load Diabetes datasets from sklearn module
diabetes = datasets.load_diabetes()
X = diabetes.data
Y = diabetes.target
f = diabetes.feature_names

In [7]:
f

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [8]:
dataset = mlutil.build_dataset(X, Y, f)

dataset.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,value
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

In [9]:
train_x, train_y, test_x, test_y = mlutil.split_dataset(dataset)

In [10]:
train_x

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
9,-0.070900,-0.044642,0.039062,-0.033213,-0.012577,-0.034508,-0.024993,-0.002592,0.067737,-0.013504
97,-0.027310,-0.044642,0.088642,-0.025191,0.021822,0.042527,-0.032356,0.034309,0.002861,0.077622
193,0.009016,0.050680,-0.005128,-0.064199,0.069981,0.083863,-0.039719,0.071210,0.039542,0.019633
347,0.038076,0.050680,-0.029918,-0.074527,-0.012577,-0.012587,0.004460,-0.002592,0.003709,-0.030072
195,0.027178,0.050680,0.025051,0.014987,0.025950,0.048477,-0.039719,0.034309,0.007838,0.023775
...,...,...,...,...,...,...,...,...,...,...
281,-0.092695,0.050680,-0.090275,-0.057313,-0.024960,-0.030437,-0.006584,-0.002592,0.024055,0.003064
334,-0.060003,0.050680,-0.047163,-0.022885,-0.071743,-0.057681,-0.006584,-0.039493,-0.062917,-0.054925
345,0.081666,0.050680,-0.002973,-0.033213,0.042462,0.057871,-0.010266,0.034309,-0.000612,-0.001078
433,-0.027310,-0.044642,-0.060097,-0.029770,0.046589,0.019980,0.122273,-0.039493,-0.051404,-0.009362
23,0.045341,0.050680,0.060618,0.031065,0.028702,-0.047347,-0.054446,0.071210,0.133597,0.135612

In [11]:
#start defining the model that we would like to train (ElasticNet)

model = ElasticNet(alpha = 0.01, l1_ratio = 0.05, random_state = 42)
model.fit(train_x, train_y)
prediction = model.predict(test_x)
rmse, mae, r2 = mlutil.eval_metric(test_y, prediction)

In [12]:
rmse, mae, r2

(64.62830428624511, 54.37694468043939, 0.3535777550223743)